body {
    height: 100%;
}

p {
    color:#777777;
}


.navbar {
    width: 100%;
    padding-left: 113px;
    background-color: #ffffff;
}

 .navbar-nav {
    flex-direction: row;
    padding-left: 6.5%;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #efeee7;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -8px;
    margin-bottom: -8px;    
}

.taylor {
    width:200px;
}

.collapse {
    width:100%;
    margin-left: 50%;
}

.nav-link {
    margin: 0 10px;
    color:#777777;
}


    
.sticky-bottom {
    padding-left: 0px;
border-top-width: 6px;
border-top-style: solid;
border-color: #4aaaa5;
padding-right: 0px;
}

#sticky-copyright {
    text-align: center;
background-color: #666666;
color:#cccccc;
}

.col {
    /* width: 100%; */
     border-top-width: 3px;
    border-top-style: solid;
    border-color: #cccccc;
    clear: both;
    height: auto;
}

.main-bio {
    background-color:#ffffff;
    margin-left: 113px;
    text-align: left;
    padding-left: 29px;
}

h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 17px;
    padding-top: 17px;
    padding-bottom: 3px;
    border-bottom-width: 3px;
border-bottom-style: solid;
border-color:#cccccc;
padding-bottom: 12px;
}

.bio-image {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 29px;
    margin-top: 22px;
}

.p1{

padding-top: 12px;
border-color: #cccccc;
}



/* Below this line is styling for contact page */

.name-area,
.email-area,
.message-area {
    width: 95%;
}

.col {
    /* height:415px; */
}

.message-area {
    margin-bottom: 18px;
}

.button {
    background-color: #4aaaa5;
    margin-bottom: 10px;
}



/* Below this line is styling for portfolio page */

.main-bio-portfolio {
    padding-left: 0px;
margin-left: 97px;
}
#col-portfolio {
    padding-bottom: 40px;
margin-bottom: 0px;
}

#main-bio-portfolio {
    padding-bottom: 136px;
    padding-left: 0px;
margin-left: 98px;
}

.picture-area {
display: flex;
  flex-wrap: wrap;
}
.h2portfolio {
    margin-bottom: 30px;
    padding-left: 31px;
}

.giphy-area {
    position: relative;
    width: 300px;
    height: 200px; 
    padding-right: 93px;
margin-right: 52px;
padding-left: 15px; 
}

.giphy {
    width: 300px;
    height: 200px;
}

.giphy-banner {
    position: absolute;
    width: 300px;
    height: 45px;
    background-color: #4aaaa5;
    color:#777777;
    text-align: center;
    right: 0px;
    left: 15px;
    top: 138px;
}

.hangman-area {
    position: relative;
    width: 300px;
    height: 200px;
}

.hangman {
    width: 300px;
    height: 200px;
}

.hangman-banner {
    position: absolute;
    width: 300px;
    height: 45px;
    background-color: #4aaaa5;
    color:#cccccc;
    text-align: center;
    right: 0px;
    left: 15.583px;
top: 138px;
}

.trivia-area {
    position: relative;
    width: 300px;
    height: 200px;
    top: 51px;
    padding-right: 93px;
margin-right: 52px;
padding-left: 15px;
}

.trivia {
    width: 300px;
    height: 200px;
}

.trivia-banner {
    position: absolute;
    width: 300px;
    height: 45px;
    background-color: #4aaaa5;
    color:#cccccc;
    text-align: center;
    right: 0px;
    top: 138px;
    left:15px;
}

.crystal-area {
    position: relative;
    width: 300px;
    height: 200px;
    top: 51px;
    padding-right: 93px;
margin-right: 52px;
padding-left: 15px;
}

.crystal {
    width: 300px;
    height: 200px;
}

.crystal-banner {
    position: absolute;
    width: 300px;
    height: 45px;
    background-color: #4aaaa5;
    color:#cccccc;
    text-align: center;
    right: 0px;
    left:15px;
    top: 138px;
}

.train-scheduler-area {
    position: relative;
    width: 300px;
    height: 200px;
    top: 100px;
}

.train-scheduler {
    width: 300px;
    height: 200px;
}

.train-scheduler-banner {
    position: absolute;
    width: 300px;
    height: 45px;
    background-color: #4aaaa5;
    color:#cccccc;
    text-align: center;
    right: 0px;
    left:15px;
    top: 138px;
}
